{%- set verb = "Create" %}


<!doctype html>
<html>

  <head>
    <title>{{verb}} New Post } &mdash; Flask PyMongo Wiki</title>
  </head>
  <body>
    <h1>{{verb}} </h1>
    <form method="POST" >
      <label for="title">Title</label>
      <textarea name="title" rows="1" cols="85">{{request.form['title']}}</textarea><br/>
      <label for="body">Body</label>
      <textarea name="body" rows="20" cols="85">{{request.form['body']}}</textarea><br/>
      <input name="submit" type="submit" value="Save"/>
      <input name="submit" type="submit" value="Cancel"/>
    </form>
  </body>
</html>
